<h2 align="center">Product</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" (click)="resetForm()">ADD</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

          <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
            <input type="hidden" name="$prdKey" #$prdKey="ngModel" [(ngModel)]="ProductService.selectedProduct.$prdKey">
            
            <div class="form-group">
              <label>Product Name</label>
              <input class="form-control" name="prdName" #prdName="ngModel" [(ngModel)]="ProductService.selectedProduct.prdName">
            </div>
          
            <div>
            <label>Product Category:</label>
            <select #category="ngModel" name="prdCategory" [(ngModel)]="ProductService.selectedProduct.prdCat" class="form-control">
              <option value="Liquid">Liquid</option>
              <option value="Solid">Solid</option>
              <option value="Gas">Gas</option>  
            </select>
            </div>
          
            <div class="form-group">
              <label>Supplier</label>
                <input class="form-control" name="prdSup" #supplier="ngModel" [(ngModel)]="ProductService.selectedProduct.prdSup" placeholder="supplier">
            </div>
          
            <div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button> 
              <!-- <button type="button" class="btn btn-danger" *ngIf="ProductService.selectedProduct.$prdKey!=null" (click)="onDelete(productForm)">Delete</button> -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>

<div class="container" id="prdContainer">
  <ul class="list-group hover">
    <li class="list-group-item">

    <form id="Filter">
      <input type="text" class="form-control" name="term" [(ngModel)]="term" placeholder="filter by name" />
    </form>

    <table class="table table-striped table-responsive">
      <tr>
        <th (click)="sort('prdName')">
        <i class="fa" [ngClass]="{'fa-sort': column != 'prdName', 'fa-sort-asc': (column == 'prdName' && isDesc), 'fa-sort-desc': (column == 'prdName' && !isDesc) }" aria-hidden="true"></i> 
        Name</th>
         
        <th (click)="sort('prdCat')">
        <i class="fa" [ngClass]="{'fa-sort': column != 'prdCat', 'fa-sort-asc': (column == 'prdCat' && isDesc), 'fa-sort-desc': (column == 'prdCat' && !isDesc) }" aria-hidden="true"></i>
        Category</th>
        
        <th (click)="sort('prdSup')">
        <i class="fa" [ngClass]="{'fa-sort': column != 'prdSup', 'fa-sort-asc': (column == 'prdSup' && isDesc), 'fa-sort-desc': (column == 'prdSup' && !isDesc) }" aria-hidden="true"></i>
        Supplier</th>
      </tr>

      <tr *ngFor="let product of productList | product: term | prdSort: {property: column, direction: direction} | paginate: { itemsPerPage: 3, currentPage: p }">
        <td>{{product.prdName}}</td>
        <td>{{product.prdCat}}</td>
        <td>{{product.prdSup}}</td>
        <td><button type="button" class="btn btn-warning" (click)="onItemClick(product)" data-toggle="modal" data-target="#myModal">Update</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(ProductService.selectedProduct.$prdKey)">Delete</button></td>
        <!-- <td><button type="button" class="btn btn-danger" (click)="onDelete(productForm)">Delete</button></td> -->
      </tr>     
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>   
  </li>
</ul>
</div>