<h2 align="center">Product</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" (click)="resetForm()">ADD</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

          <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm); upload()" ngNativeValidate>
            <input type="hidden" name="$prdKey" #$prdKey="ngModel" [(ngModel)]="ProductService.selectedProduct.$prdKey">
            
            <div class="form-group">
              <label>Product Name</label>
              <input class="form-control" name="prdName" #prdName="ngModel" [(ngModel)]="ProductService.selectedProduct.prdName" oninvalid="this.setCustomValidity('please fill this field')" oninput="setCustomValidity('')" required/>
              <p *ngIf="prdName.invalid && prdName.touched">Product Name Required!</p>
            </div>
          
            <div>
            <label>Product Category</label>
            <select #prdCategory="ngModel" name="prdCategory" [(ngModel)]="ProductService.selectedProduct.prdCategory" class="form-control" required>
              <option value="Vehicle">Vehicle</option>
              <option value="Electronic">Electronic</option>
              <option value="Other">Other</option>  
            </select>
              <p *ngIf="prdCategory.invalid && prdName.touched">Product Category Required!</p>
            </div>
          
            <div class="form-group">
              <label>Supplier</label>
                <input class="form-control" name="prdSup" #prdSup="ngModel" [(ngModel)]="ProductService.selectedProduct.prdSup" placeholder="supplier" required/>
                <p *ngIf="prdSup.invalid && prdSup.touched">Product Supplier Required!</p>
            </div>

            <!-- <div class="form-group">
              <label>Image URL</label>
                  <input type="url" class="form-control" name="prdImage" #prdImage="ngModel" [(ngModel)]="ProductService.selectedProduct.prdImage" placeholder="Image URL" required/>
                  <p *ngIf="prdImage.invalid && prdImage.touched">Product Image Required!</p>
            </div> -->
            
            <div *ngIf="currentFileUpload" class="progress" style="width:210px">
              <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}"> 
                {{progress.percentage}}%
              </div>
            </div>
            <label>Upload an Image</label>
            <input type='file' class="form-control" (change)="selectFile($event)">
            <!-- <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">Upload</button> -->
            <!-- <img [src]="url"> -->
          
            <br><br>
            <div class="form-group">
              <label>Description</label>
			        <a href="#"><span class="glyphicon glyphicon-question-sign" (click)="isDetail=!isDetail"></span></a>
                <textarea class="form-control" name="prdDescription" #prdDescription="ngModel" [(ngModel)]="ProductService.selectedProduct.prdDescription" placeholder="Description" required></textarea>
                <p *ngIf="prdDescription.invalid && prdDescription.touched">Product Description Required!</p>
				
            <div *ngIf="!isDetail">
              <h5><![CDATA[<b>some texts</b>]]> to <b>bold</b> some texts</h5>
              <h5><![CDATA[<i>some texts</i>]]> to <i>italic</i> some texts</h5>
              <h5><![CDATA[<u>some texts</u>]]> to <u>underline</u> some texts</h5>
            </div>
			</div>

            <div class="form-group" *ngIf="!AuthService.currentUser; else authenticated">
                <p>PLEASE LOGIN TO SUBMIT</p>
                <button type="submit" class="btn btn-primary" disabled title="PLEASE LOGIN TO SUBMIT">Submit</button>
                <!-- <button type="button" class="btn btn-danger" *ngIf="ProductService.selectedProduct.$prdKey!=null" (click)="onDelete(productForm)">Delete</button> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

            <ng-template #authenticated><div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button> 
              <!-- <button type="button" class="btn btn-danger" *ngIf="ProductService.selectedProduct.$prdKey!=null" (click)="onDelete(productForm)">Delete</button> -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div></ng-template>
            
          </form>
        </div>
    </div>
  </div>
</div>

<div class="container" id="prdContainer">
  <ul class="list-group hover">
    <li class="list-group-item">

    <form id="Filter">
      <input type="text" class="form-control" name="term" [(ngModel)]="term" placeholder="filter by name" />
    </form>

    <table class="table table-striped table-responsive">
      <tr>
        <th (click)="sort('prdName')">
        <i class="fa" [ngClass]="{'fa-sort': column != 'prdName', 'fa-sort-asc': (column == 'prdName' && isDesc), 'fa-sort-desc': (column == 'prdName' && !isDesc) }" aria-hidden="true"></i> 
        Name</th>
         
        <th (click)="sort('prdCategory')">
        <i class="fa" [ngClass]="{'fa-sort': column != 'prdCategory', 'fa-sort-asc': (column == 'prdCategory' && isDesc), 'fa-sort-desc': (column == 'prdCategory' && !isDesc) }" aria-hidden="true"></i>
        Category</th>
        
        <th (click)="sort('prdSup')">
        <i class="fa" [ngClass]="{'fa-sort': column != 'prdSup', 'fa-sort-asc': (column == 'prdSup' && isDesc), 'fa-sort-desc': (column == 'prdSup' && !isDesc) }" aria-hidden="true"></i>
        Supplier</th>
      </tr>

      <tr *ngFor="let Product of productList | product: term | prdSort: {property: column, direction: direction} | paginate: { itemsPerPage: 3, currentPage: p }">
        <td><!--<input type="checkbox" name="checkbox" [attr.id]="Product.$prdKey" [value]="false"/>-->{{Product.prdName}}</td>
        <td>{{Product.prdCategory}}</td>
        <td>{{Product.prdSup}}</td>
        <td><button type="button" class="btn btn-warning" (click)="onItemClick(Product)" data-toggle="modal" data-target="#myModal">Update</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(Product.$prdKey)">Delete</button></td>
        <!-- <td><button type="button" class="btn btn-danger" (click)="onDelete(ProductService.selectedProduct.$prdKey)">Delete</button></td> -->
      </tr>     
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>   
  </li>
</ul>
</div>