<h2 align="center">Product</h2>
<div class="container">
<form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
  <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="productService.selectedProduct.$key">
  
  <div class="form-group">
    <label>Product Name</label>
    <input class="form-control" name="prdName" #prdName="ngModel" [(ngModel)]="productService.selectedProduct.prdName">
  </div>

  <div>
  <label>Product Category:</label>
  <select #category="ngModel" name="prdCategory" [(ngModel)]="productService.selectedProduct.prdCat" class="form-control">
    <option value="Liquid">Liquid</option>
    <option value="Solid">Solid</option>
    <option value="Gas">Gas</option>  
  </select>
  </div>

  <div class="form-group">
    <label>Supplier</label>
      <input class="form-control" name="prdSup" #supplier="ngModel" [(ngModel)]="productService.selectedProduct.prdSup" placeholder="supplier">
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-primary">Submit</button> 
    <button type="button" class="btn btn-danger" *ngIf="productService.selectedProduct.$key!=null" (click)="onDelete(productForm)">Delete</button>
  </div>
</form>
</div>

<div class="container">
  <ul class="list-group hover">
    <li class="list-group-item">
    <table class="table table-striped table-responsive">
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Supplier</th>
      </tr>

      <tr *ngFor="let product of productList" (click)="onItemClick(product)">
        <td>{{product.prdName}}</td>
        <td>{{product.prdCat}}</td>
        <td>{{product.prdSup}}</td>
        <!-- <td><button type="button" class="btn btn-danger" (click)="onDelete(productForm)">Delete</button></td> -->
      </tr> 
    </table> 
  </li>
</ul>
</div>