<h2 align="center">Pembelian</h2>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" (click)="resetForm()">ADD</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

          <form #pembelianForm="ngForm" (ngSubmit)="onSubmit(pembelianForm)">
            <input type="hidden" name="$beliKey" #$beliKey="ngModel" [(ngModel)]="PembelianService.selectedPembelian.$beliKey">
            
            <div class="form-group">
              <label>Supplier Name</label>
              <input class="form-control" name="supName" #supName="ngModel" [(ngModel)]="PembelianService.selectedPembelian.supName" required/>
              <p *ngIf="supName.invalid && supName.touched">Supplier Name Required!</p>
            </div>
          
            <div class="form-group">
              <label>Product</label>
                <input class="form-control" name="product" #product="ngModel" [(ngModel)]="PembelianService.selectedPembelian.product" required/>
                <p *ngIf="product.invalid && product.touched">Product Name Required!</p>
            </div>
          
            <div class="form-group" *ngIf="!AuthService.currentUser; else authenticated">
                <p>PLEASE LOGIN TO SUBMIT</p>
                <button type="submit" class="btn btn-primary" disabled title="PLEASE LOGIN TO SUBMIT">Submit</button>
                <!-- <button type="button" class="btn btn-danger" *ngIf="PembelianService.selectedPembelian.$beliKey!=null" (click)="onDelete(pembelianForm)">Delete</button> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

            <ng-template #authenticated><div class="form-group">
              <button type="submit" class="btn btn-primary">Submit</button> 
              <!-- <button type="button" class="btn btn-danger" *ngIf="PembelianService.selectedPembelian.$beliKey!=null" (click)="onDelete(pembelianForm)">Delete</button> -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div></ng-template>
          </form>
        </div>
    </div>
  </div>
</div>

<div class="container" id="prdContainer">
  <ul class="list-group hover">
    <li class="list-group-item">

    <form id="Filter">
      <input type="text" class="form-control" name="term" [(ngModel)]="term" placeholder="filter by name" />
    </form>

    <table class="table table-striped table-responsive">
      <tr>
        <th (click)="sort('supName')">
        <i class="fa" [ngClass]="{'fa-sort': column != 'supName', 'fa-sort-asc': (column == 'supName' && isDesc), 'fa-sort-desc': (column == 'supName' && !isDesc) }" aria-hidden="true"></i> 
        Supplier Name</th>
         
        <th (click)="sort('product')">
        <i class="fa" [ngClass]="{'fa-sort': column != 'product', 'fa-sort-asc': (column == 'product' && isDesc), 'fa-sort-desc': (column == 'product' && !isDesc) }" aria-hidden="true"></i>
        Product</th>

      </tr>

      <tr *ngFor="let Pembelian of pembelianList | pembelian: term | beliSort: {property: column, direction: direction} | paginate: { itemsPerPage: 3, currentPage: p }">
        <td><!--<input type="checkbox" name="checkbox" [attr.id]="Pembelian.$prdKey"/>-->{{Pembelian.supName}}</td>
        <td>{{Pembelian.product}}</td>
        <td><button type="button" class="btn btn-warning" (click)="onItemClick(Pembelian)" data-toggle="modal" data-target="#myModal">Update</button></td>
        <td><button type="button" class="btn btn-danger" (click)="onDelete(Pembelian.$beliKey)">Delete</button></td>
        <!-- <td><button type="button" class="btn btn-danger" (click)="onDelete(pembelianForm)">Delete</button></td> -->
      </tr>     
    </table>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>   
  </li>
</ul>
</div>