<button (click)="showProduct=!showProduct">Product</button>

<button (click)="showCustomer=!showCustomer">Customer</button>

<button (click)="showSupplier=!showSupplier">Supplier</button>

<button (click)="showJual=!showJual">Penjualan</button>

<button (click)="showBeli=!showBeli">Pembelian</button>

<!--Product-->
<div *ngIf="showProduct">
    <app-product></app-product>    
</div>

<!--Customer-->
<div *ngIf="showCustomer">
    <app-customer></app-customer>
</div>

<!--Supplier-->
<div *ngIf="showSupplier">
    <app-supplier></app-supplier>
</div>

<!--Penjualan-->
<div *ngIf="showJual">
    <app-penjualan></app-penjualan>
</div>

<!--Pembelian-->
<div *ngIf="showBeli">
    <app-pembelian></app-pembelian>
</div>