body {
  background: #F1F3FA;
}

table, tr, th, td
{
    width: 42%;
}

input, select
{
    max-width: 42%;
}

.sidebar1 {
    background: rgb(0, 0, 0);
    height: 100%;
    max-height: 100%;
}

.container-fluid{
    height: 100%;
    max-height: 100%;
}

.logo {
    max-height: 130px;
}
.logo>img {
    margin-top: 30px;
    padding: 3px;
    border: 3px solid white;
    border-radius: 100%;
}
.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 40px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}
.main-content{
text-align:center;
}