<body class="hold-transition skin-blue sidebar-mini">
        <div>
          <header class="main-header">
            <!-- Logo -->
            <a href="#" class="logo" (click)="showProduct=!showProduct; showCustomer=false; showSupplier=false; showJual=false; showBeli=false">
              <!-- logo for regular state and mobile devices -->
              <span class="logo-lg">LOGO</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
              <div class="container-fluid" id="navbar">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button" (click)="pushMenu=!pushMenu">
                    <span class="sr-only">Toggle navigation</span>
                </a>

              <div align="center">
                <ul class="nav navbar-nav">
                  <li (click)="prdList=!prdList; showProduct=true; showCustomer=false; showSupplier=false; showJual=false; showBeli=false"><a href="#">Show Product List</a></li>
                </ul>
              </div>

              <div *ngIf="!AuthService.currentUser || !AuthService.isUserEmailLoggedIn">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown">REGISTER/LOGIN<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <app-parent></app-parent>
                      </ul>
                  </li>
                </ul>
              </div>

              <!--tampilkan setelah login/register-->
              <div *ngIf="AuthService.currentUser || AuthService.isUserEmailLoggedIn" align="center">
                <ul class="nav navbar-nav">
                  <li><a href="#">Welcome <u>({{AuthService.currentUserName}})</u></a></li>
                  <li><a href="#" (click)="logout()">LOGOUT</a></li>
                </ul>
              </div>
         
              </div>
            </nav>
          </header>
          <!-- Left side column. contains the logo and sidebar -->
          <aside class="main-sidebar" *ngIf="!pushMenu">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
             
              <!-- sidebar menu: : style can be found in sidebar.less -->
              <div id="push-menu">
              <ul class="sidebar-menu" data-widget="tree">
                <li class="header"><b>MAIN NAVIGATION </b></li>
                
                <li (click)="showProduct=!showProduct; showProduct=false; showCustomer=false; showSupplier=false; showJual=false; showBeli=false">
                  <a href="#">
                    <i class="fa fa-dashboard"></i> 
                    <span>Product</span>
                  </a>
                </li>

                <li (click)="showSupplier=!showSupplier; showSupplier=true; showProduct=true; showCustomer=false; showJual=false; showBeli=false">
                  <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>Supplier</span>
                  </a>
                </li>

                <li (click)="showCustomer=!showCustomer; showCustomer=true; showProduct=true; showSupplier=false; showJual=false; showBeli=false">
                  <a href="#">
                    <i class="fa fa-th"></i> <span>Customer</span>
                  </a>
                </li>

                <li (click)="showJual=!showJual; showJual=true; showProduct=true; showSupplier=false; showCustomer=false; showBeli=false">
                  <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span >Penjualan</span>
                  </a>
                </li>

                <li (click)="showBeli=!showBeli; showBeli=true; showProduct=true; showSupplier=false; showCustomer=false; showJual=false">
                  <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span >Pembelian</span>
                  </a>
                </li>

              </ul>
            </div>
            </section>
            <!-- /.sidebar -->
          </aside>
        
          <!-- Content Wrapper. Contains page content -->
            <section class="col-lg-5 connectedSortable">
              <div class="container">
                <!--Product-->
                <div *ngIf="!showProduct" align="center">
                    <app-product></app-product>    
                </div>
                    
                <!--Customer-->
                <div *ngIf="showCustomer" align="center">
                    <app-customer></app-customer>
                </div>
                                
                <!--Supplier-->
                <div *ngIf="showSupplier" align="center">
                  <app-supplier></app-supplier>
                </div>
                    
                <!--Penjualan-->
                <div *ngIf="showJual" align="center">
                  <app-penjualan></app-penjualan>
                </div>
                    
                <!--Pembelian-->
                <div *ngIf="showBeli" align="center">
                  <app-pembelian></app-pembelian>
                </div>

                <!--Product List-->
                <div *ngIf="!prdList" align="center" style="text-align:left" id="prdList">
                  <div *ngFor="let Product of productList">
                    <div class="col-lg-4">
                      <ul style="list-style: none" class="floating-box">
                      <li>
                        <label>Name:</label> {{Product.prdName}}
                      </li>
                      
                      <li>
                        <label>Product Category:</label> {{Product.prdCategory}}
                      </li>
                      
                      <li>
                        <label>Supplier:</label> {{Product.prdSup}}
                      </li>
                          
                      <li>
                        <label>Image:</label> <img src="{{Product.prdImage}}">
                      </li>

                      <li>
                        <label>Description:</label> {{Product.prdDescription}}
                      </li>
                      </ul>
                    </div>
                  </div>
                 </div>

              </div>
            </section>
                <!-- right col -->
              </div>
              <!-- /.row (main row) -->
            <!-- /.content -->
        
        <!-- jQuery 3 -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <!-- jQuery UI 1.11.4 -->
        <script src="bower_components/jquery-ui/jquery-ui.min.js"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
          $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap 3.3.7 -->
        <script src="assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <!-- Morris.js charts -->
        <script src="assets/bower_components/raphael/raphael.min.js"></script>
        <script src="assets/bower_components/morris.js/morris.min.js"></script>
        <!-- Sparkline -->
        <script src="assets/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
        <!-- jvectormap -->
        <script src="assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
        <!-- jQuery Knob Chart -->
        <script src="assets/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
        <!-- daterangepicker -->
        <script src="assets/bower_components/moment/min/moment.min.js"></script>
        <script src="assets/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="assets/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
        <!-- Slimscroll -->
        <script src="assets/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
        <!-- FastClick -->
        <script src="assets/bower_components/fastclick/lib/fastclick.js"></script>
        <!-- AdminLTE App -->
        <script src="assets/dist/js/adminlte.min.js"></script>
        <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
        <script src="assets/dist/js/pages/dashboard.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="assets/dist/js/demo.js"></script>
</body>