<h2 align="center">Customer</h2>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" (click)="resetForm()">ADD</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">

          <form #customerForm="ngForm" (ngSubmit)="onSubmit(customerForm)">
              <input type="hidden" name="$cstKey" #$cstKey="ngModel" [(ngModel)]="CustomerService.selectedCustomer.$cstKey">
              
              <div class="form-group">
                <label>Customer ID</label>
                <input class="form-control" name="cstId" #cstId="ngModel" [(ngModel)]="CustomerService.selectedCustomer.cstId" required/>
                <p *ngIf="cstId.invalid && cstId.touched">Customer ID Required!</p>
              </div>
        
              <div class="form-group">
                <label>Customer Name</label>
                <input class="form-control" name="cstName" #cstName="ngModel" [(ngModel)]="CustomerService.selectedCustomer.cstName" required/>
                <p *ngIf="cstName.invalid && cstName.touched">Customer Name Required!</p>
              </div>
           
              <div>
                <label>Customer Company</label>
                <select #cstCompany="ngModel" name="cstCompany" [(ngModel)]="CustomerService.selectedCustomer.cstCompany" class="form-control" required>
                  <option value="Hydrogen Dioxide">Hydrogen Dioxide</option>
                  <option value="Natrium Chloride">Natrium Chloride</option>
                  <option value="Nitrogen Dioxide">Nitrogen Dioxide</option>  
                </select>
                <p *ngIf="cstCompany.invalid && cstCompany.touched">Customer Company Required!</p>
              </div>

              <div>
                <label>Customer Email</label>
                <input class="form-control" name="cstEmail" #cstEmail="ngModel" [(ngModel)]="CustomerService.selectedCustomer.cstEmail" required/>
                <p *ngIf="cstEmail.invalid && cstEmail.touched">Customer Email Required!</p>
              </div>

              <div>
                <label>Customer Phone</label>
                <input class="form-control" name="cstPhone" #cstPhone="ngModel" [(ngModel)]="CustomerService.selectedCustomer.cstPhone" required/>
                <p *ngIf="cstPhone.invalid && cstPhone.touched">Customer Phone Required</p>
              </div>
        
              <div class="form-group" *ngIf="!AuthService.currentUser; else authenticated">
                  <p>PLEASE LOGIN TO SUBMIT</p>
                  <button type="submit" class="btn btn-primary" disabled title="PLEASE LOGIN TO SUBMIT">Submit</button>
                  <!-- <button type="button" class="btn btn-danger" *ngIf="CustomerService.selectedCustomer.$cstKey!=null" (click)="onDelete(customerForm)">Delete</button> -->
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
  
              <ng-template #authenticated><div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button> 
                <!-- <button type="button" class="btn btn-danger" *ngIf="CustomerService.selectedCustomer.$cstKey!=null" (click)="onDelete(customerForm)">Delete</button> -->
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div></ng-template>
            </form>  
      </div>
    </div>
  </div>
</div>    


    <div class="container" id="cstContainer">
      <ul class="list-group hover">
        <li class="list-group-item">

        <form id="filter">
          <input type="text" class="form-control" name="term" [(ngModel)]="term" placeholder="filter by name" />
        </form>

        <table class="table table-striped table-responsive">
          <tr>
            <th (click)="sort('cstId')">
            <i class="fa" [ngClass]="{'fa-sort': column != 'cstId', 'fa-sort-asc': (column == 'cstId' && isDesc), 'fa-sort-desc': (column == 'cstId' && !isDesc) }" aria-hidden="true"></i> 
            Id</th>

            <th (click)="sort('cstName')">
            <i class="fa" [ngClass]="{'fa-sort': column != 'cstName', 'fa-sort-asc': (column == 'cstName' && isDesc), 'fa-sort-desc': (column == 'cstName' && !isDesc) }" aria-hidden="true"></i> 
            Name</th>

            <th (click)="sort('cstCompany')">
            <i class="fa" [ngClass]="{'fa-sort': column != 'cstCompany', 'fa-sort-asc': (column == 'cstCompany' && isDesc), 'fa-sort-desc': (column == 'cstCompany' && !isDesc) }" aria-hidden="true"></i> 
            Company</th>
          </tr>
    
          <tr *ngFor="let Customer of customerList | customer: term | cstSort: {property: column, direction: direction} | paginate: { itemsPerPage: 3, currentPage: p }">
            <td><input type="checkbox" name="checkbox" [attr.id]="Customer.$prdKey"/>{{Customer.cstId}}</td>
            <td>{{Customer.cstName}}</td>
            <td>{{Customer.cstCompany}}</td>
            <!-- <td>{{Customer.cstEmail}}</td>
            <td>{{Customer.cstPhone}}</td> -->
            <td><button type="button" class="btn btn-warning" (click)="onItemClick(Customer)" data-toggle="modal" data-target="#myModal">Update</button></td>
            <td><button type="button" class="btn btn-danger" (click)="onDelete(Customer.$cstKey)">Delete</button></td>
            <!-- <td><button type="button" class="btn btn-danger" (click)="onDelete(customerForm)">Delete</button></td> -->
          </tr> 
        </table> 
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </li>
    </ul>
    </div>